  body
  {
    color:cyan;
    background:navy;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 360px;
    height: 325px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: whitesmoke;
  }
  
